* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #fff;
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  border: 1px solid #000;
  color: #000;
  padding: 1rem;
  border-radius: 1rem;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

p {
  margin: 1rem 0;
}
